<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>Practica 2</title>
</head>
<body>
    <div class="container">
        <a href="/views/crear.ejs" class="btn btn-outline-primary mt-4"><i class='bx bxs-plus-circle bx-md'></i></a>
        <table class="table table-bordered table-striped text-center mt4">
            <thead>
                <tr class="bg-primary text-white">
                    <th scope="col">ID</th>
                    <th scope="col">MATRICULA</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">DOMICILIO</th>
                    <th scope="col">SEXO</th>
                    <th scope="col">ESPECIALIDAD</th>
                    <th scope="col">ACCIONES</th>
                </tr>
    
            </thead>
            <tbody>
                <% results.forEach((alumno)=> { %>
                <tr>
                    <td><%= alumno.id %></td>
                    <td><%= alumno.matricula %></td>
                    <td><%= alumno.nombre %></td>
                    <td><%= alumno.domicilio %></td>
                    <td><%= alumno.sexo %></td>
                    <td><%= alumno.especialidad %></td>
                    <td>
                        <a href="/views/editar/<%= alumno.matricula %>" class="btn btn-outline-info">Editar</a>
                        <a href="/delete/<%= alumno.id %>" class="btn btn-outline-danger">Borrar</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>